#main{
    display: flex;
    justify-content: space-between;
}

#left{
    margin-top: 6%;
    margin-left: 6%;
}

#slogan{
    margin-bottom: 7%;
}

.blackText{
    color: #373737;
    font-size: 80px;
    font-weight: bold;
}

#blueText {
    color: #289db9;
    font-size: 80px;
    font-weight: bold;
}

#blackTextBis{
    color: #373737;
    font-size: 63px;
    font-weight: bold;
}

#userInformations {
    margin-bottom: 4%;
}

#userText {
    color: #373737;
    font-size: 25px;
    font-weight: normal;
}

#right{
    margin-top: 4%;
    margin-right: 45%;
}

#image {
    position: relative;
    width: 100%;
    height: auto;
}

#cv1, #cv2 {
    position: absolute;
    height: 60vh;
    top: 0;
    transform: rotate(25deg);
}

#cv1 {
    left: 0;
    z-index: 0;
}

#cv2 {
    left: 120px;
    z-index: 1;
}
