#main{
    display: flex;
    justify-content: space-between;
}

#interactionButtons{
    margin-right: 10%;
    display: flex;
    gap: 17%;
}

#left{
    margin-top: 6%;
    margin-left: 6%;
}

#slogan{
    margin-bottom: 7%;
}

.blackText{
    color: #373737;
    font-size: 80px;
    font-weight: bold;
}

#blueText {
    color: #289db9;
    font-size: 80px;
    font-weight: bold;
}

#blackTextBis{
    color: #373737;
    font-size: 63px;
    font-weight: bold;
}

#subtitleText {
    color: #373737;
    font-size: 25px;
    font-weight: normal;
}

#subtitle{
    margin-bottom: 4%;
}

#registerSubtitle{
    font-weight: normal;
    color: #ffffff;
    background-color: #516077;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    line-height: 115%;
    margin-left: 16%;
    padding: 9px 60px;
}

#registerSubtitle:hover{
    background-color: #af4662;
    transform: scale(1.1);
}

#right{
    margin-top: 4%;
    margin-right: 45%;
}

#image {
    position: relative;
    width: 100%; /* Ajuste la largeur selon tes besoins */
    height: auto; /* Ajuste la hauteur selon tes besoins */
}

#cv1, #cv2 {
    position: absolute;
}

#cv1 {
    height: 60vh;
    top: 0;
    left: 0;
    z-index: 0; /* Image en dessous */
    transform: rotate(25deg);
}

#cv2 {
    height: 60vh;
    top: 0;
    left: 120px; /* Ajuste cette valeur pour déplacer horizontalement */
    z-index: 1; /* Image au-dessus */
    transform: rotate(25deg);
}
